<style>

{% load static %} 

        body{
background-image: url("{% static "img/tohyo/sozai/242669_s.jpg" %}");
	min-width: 1600px;
	  display: flex;
  flex-flow: column;
  min-height: 100vh;
    }
    
main {
  flex: 1;
}
    
.img-wrap{
		text-align: center;
		padding-top: 100px;
		margin-bottom: 150px;
	}


  .BG1 {
    text-align: center;
    top: -1105px;
    filter: drop-shadow(1px 1px 10px rgba(0, 0, 0, 0.6));
    position: relative;
    pointer-events: none;
  }

  .waku {
    text-align: center;
    position: relative;
    top: -4471px;
    left:-1px;
    pointer-events: none;
  }

  .name {
    text-align: center;
    position: relative;
    top: -157px;
    left: -3px;
    pointer-events: none;
  }

  .suga_face {
    text-align: center;
    position: relative;
    top: -2015px;
    left: 95px;
    width: 140px;
    margin: 0 auto;
    overflow: hidden;
    cursor: pointer;
  }

  .suga_face {
    transition-duration: 0.3s;
  }

  .suga_face:hover {
    transform: scale(1.1);
    transition-duration: 0.3s;
  }

  .hiroyuki_face {
    text-align: center;
    position: relative;
    top: -1560px;
    left: 230px;
    width: 140px;
    margin: 0 auto;
    overflow: hidden;
    cursor: pointer;
  }

  .hiroyuki_face {
    transition-duration: 0.3s;
  }

  .hiroyuki_face:hover {
    transform: scale(1.1);
    transition-duration: 0.3s;
  }

  .kounotarou_face {
    text-align: center;
    position: relative;
    top: -2366px;
    left: 120px;
    width: 300px;
    margin: 0 auto;
    overflow: hidden;
    cursor: pointer;
  }

  .kounotarou_face {
    transition-duration: 0.3s;
  }

  .kounotarou_face:hover {
    transform: scale(1.1);
    transition-duration: 0.3s;
  }

  .ishiba_face {
    text-align: center;
    position: relative;
    top: -2357px;
    left: 224px;
    width: 140px;
    margin: 0 auto;
    overflow: hidden;
    cursor: pointer;
  }

  .ishiba_face {
    transition-duration: 0.3s;
  }

  .ishiba_face:hover {
    transform: scale(1.1);
    transition-duration: 0.3s;
  }

  .abe_face {
    text-align: center;
    position: relative;
    top: -2348px;
    left: 185px;
    width: 200px;
    margin: 0 auto;
    overflow: hidden;
    cursor: pointer;
  }

  .abe_face {
    transition-duration: 0.3s;
  }

  .abe_face:hover {
    transform: scale(1.1);
    transition-duration: 0.3s;
  }

  .koizumi_face {
    text-align: center;
    position: relative;
    top: -2343px;
    left: 239px;
    width: 110px;
    margin: 0 auto;
    overflow: hidden;
    cursor: pointer;
  }

  .koizumi_face {
    transition-duration: 0.3s;
  }

  .koizumi_face:hover {
    transform: scale(1.1);
    transition-duration: 0.3s;
  }

  .edano_face {
    text-align: center;
    position: relative;
    top: -2525px;
    left: 9px;
    width: 130px;
    margin: 0 auto;
    overflow: hidden;
    cursor: pointer;
  }

  .edano_face {
    transition-duration: 0.3s;
  }

  .edano_face:hover {
    transform: scale(1.08);
    transition-duration: 0.3s;
  }

  .renhou_face {
    text-align: center;
    position: relative;
    top: -2538px;
    left: -200px;
    width: 130px;
    margin: 0 auto;
    overflow: hidden;
    cursor: pointer;
  }

  .renhou_face {
    transition-duration: 0.3s;
  }

  .renhou_face:hover {
    transform: scale(1.08);
    transition-duration: 0.3s;
  }

  .kan_face {
    text-align: center;
    position: relative;
    top: -2821px;
    left: -210px;
    width: 140px;
    margin: 0 auto;
    overflow: hidden;
    cursor: pointer;
  }

  .kan_face {
    transition-duration: 0.3s;
  }

  .kan_face:hover {
    transform: scale(1.08);
    transition-duration: 0.3s;
  }

  .kaieda_face {
    text-align: center;
    position: relative;
    top: -2911px;
    left: -93px;
    width: 140px;
    margin: 0 auto;
    overflow: hidden;
    cursor: pointer;
  }

  .kaieda_face {
    transition-duration: 0.3s;
  }

  .kaieda_face:hover {
    transform: scale(1.08);
    transition-duration: 0.3s;
  }

  .yamaguchi_face {
    text-align: center;
    position: relative;
    top: -2720px;
    left: 0px;
    width: 140px;
    margin: 0 auto;
    overflow: hidden;
    cursor: pointer;
  }

  .yamaguchi_face {
    transition-duration: 0.3s;
  }

  .yamaguchi_face:hover {
    transform: scale(1.08);
    transition-duration: 0.3s;
  }

  .shii_face {
    text-align: center;
    position: relative;
    top: -2837px;
    left: -206px;
    width: 190px;
    margin: 0 auto;
    overflow: hidden;
    cursor: pointer;
  }

  .shii_face {
    transition-duration: 0.3s;
  }

  .shii_face:hover {
    transform: scale(1.08);
    transition-duration: 0.3s;
  }

  .toru_face {
    text-align: center;
    position: relative;
    top: -2981px;
    left: 179px;
    width: 210px;
    margin: 0 auto;
    overflow: hidden;
    cursor: pointer;
    transition-duration: 0.3s;
  }

  .toru_face:hover {
    transform: scale(1.08);
    transition-duration: 0.3s;
  }

  .matui_face {
    text-align: center;
    position: relative;
    top: -3214px;
    left: 129px;
    width: 150px;
    margin: 0 auto;
    overflow: hidden;
    cursor: pointer;
    transition-duration: 0.3s;
  }

  .matui_face:hover {
    transform: scale(1.08);
    transition-duration: 0.3s;
  }

  .tamaki_face {
    text-align: center;
    position: relative;
    top: -3293px;
    left: 0px;
    width: 150px;
    margin: 0 auto;
    overflow: hidden;
    cursor: pointer;
    transition-duration: 0.3s;
  }

  .tamaki_face:hover {
    transform: scale(1.08);
    transition-duration: 0.3s;
  }

  .takesi_face {
    text-align: center;
    position: relative;
    top: -3049px;
    left: 97px;
    width: 150px;
    margin: 0 auto;
    overflow: hidden;
    cursor: pointer;
    transition-duration: 0.3s;
  }

  .takesi_face:hover {
    transform: scale(1.08);
    transition-duration: 0.3s;
  }

  .yuriko_face {
    text-align: center;
    position: relative;
    top: -3294px;
    left: 137px;
    width: 110px;
    margin: 0 auto;
    overflow: hidden;
    cursor: pointer;
    transition-duration: 0.3s;
  }

  .yuriko_face:hover {
    transform: scale(1.08);
    transition-duration: 0.3s;
  }

  .jakucho_face {
    text-align: center;
    position: relative;
    top: -3398px;
    left: 238px;
    width: 110px;
    margin: 0 auto;
    overflow: hidden;
    cursor: pointer;
    transition-duration: 0.3s;
  }

  .jakucho_face:hover {
    transform: scale(1.08);
    transition-duration: 0.3s;
  }

  .hikakin_face {
    text-align: center;
    position: relative;
    top: -3507px;
    left: -55px;
    width: 150px;
    margin: 0 auto;
    overflow: hidden;
    cursor: pointer;
    transition-duration: 0.3s;
  }

  .hikakin_face:hover {
    transform: scale(1.08);
    transition-duration: 0.3s;
  }

  .saori_face {
    text-align: center;
    position: relative;
    top: -3602px;
    left: -171px;
    width: 110px;
    margin: 0 auto;
    overflow: hidden;
    cursor: pointer;
    transition-duration: 0.3s;
  }

  .saori_face:hover {
    transform: scale(1.08);
    transition-duration: 0.3s;
  }

  .shuzo_face {
    text-align: center;
    position: relative;
    top: -3521px;
    left: -64px;
    width: 160px;
    margin: 0 auto;
    overflow: hidden;
    cursor: pointer;
    transition-duration: 0.3s;
  }

  .shuzo_face:hover {
    transform: scale(1.08);
    transition-duration: 0.3s;
  }

  .fukidasi {
    text-align: center;
    position: relative;
    top: -5560px;
    left: -130px;
    margin: 0 auto;
    overflow: hidden;
    pointer-events: none;
	margin-bottom: -5700px;
  }
  
  
#image1 {
transition: all 1s 0s ease;
}
.on {
transform: scale(1.0, 1.0);
}
.off {
transform: scale(0, 0) ;
}

.twitter {
  text-align: center;
  position: relative;
  left: -660px;
  margin-left: 30px;
}


</style>