{%load static %}
<!doctype html>
<html lang="ja">
<!-- git test-->
<head>
    <meta charset="utf-8">
    <title>{{title}}</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    crossorigin="anonymous">
</head>

    <body class="container">
        <h1 class="display-4 textprimary">候補者一覧</h1>
        <table class="table">

        {% for item in object_list %}
            <tr>
                <!--<td><a href="/queen/detail/{{item.uuid}}">{{item.name}}</a></td>-->
                <!--<form action="{% url 'votecan' item.uuid %}" method="post">-->
                <!--    {% csrf_token %}-->
                <!--    <td>-->
                <!--    <input type="submit" value="{{item.name}}"-->
                <!--        class="btn btn-primary">-->
                <!--    </td>-->
                <!--</form>-->
<!-- Button trigger modal -->
           <button class="btn btn-primary" type="button" data-toggle="modal" data-target="#Modal">{{item.name}}</button>
  <!-- モーダルの設定 -->
  
  <div class="modal fade" id="Modal" tabindex="-1" role="dialog" aria-labelledby="Modal" aria-hidden="true">
    <!--以下modal-dialogのCSSの部分で modal-lgやmodal-smを追加するとモーダルのサイズを変更することができる-->
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="Modal">投票確認</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="閉じる">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            {{item.name}}に投票しますか？
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">やめる</button>
<!--FORM送信-->
            <form action="{% url 'votecan' item.uuid %}" method="post">
            {% csrf_token %}
            <input type="submit" value="投票" class="btn btn-primary">
            </form>
        </div>
      </div>
    </div>
  </div>
        </tr>
        {% endfor %}
        </table>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
 
    </body>
</html>