{% include 'css/footer.css' %}
<footer id="footer02" class="outer-block">
     {% load static %}
      <div class="inner-block">
        <div class="wrap">
          <div class="logo">
            <a href="https://twitter.com/cuz_seiji?s=20"><img src="{% static "img/tohyo/sozai/logo.jpg" %}" width="80" alt=""></a>
          </div>
          <div class="cont">
            <div class="c-btn">
              <a href="/reserve">CONTACT</a>
            </div>
            <ul class="nav">
              <li><a href="/reserve">SITE HISTORY</a></li>
              <li><a href="/reserve">ABOUT</a></li>
            </ul>
          </div>
        </div>
      </div><!-- /inner-block -->
      <div class="copyright">
      </div>
</footer>